.list_nav .title{
    text-indent: 20px;
}
.list_nav .title a{
    color: #058dbf;
    line-height: 30px;
}
.list_nav .title .here{
    color: #333;
    line-height: 30px;
}
.list_nav .title .here_nav{
    color: gray;
    line-height: 30px;
}
.details_content{
    padding: 0px ;
}

.details_content ul li:last-child a {
    border-bottom: 0;
}
.details_content ul li a {
    color: black;
    line-height: 45px;
    border-bottom: 1px solid #e3e3e3;
    display: block;
    font-size: 12px;
    text-indent: 15px;
}
.details_content ul li a:hover{
    background-color: #058dbf;
    color: #fff;
}
.details_content .contact_us1{
    width: 100%;
    margin-top: 10px;
}
.post_head{
    padding: 10px 5px 30px 5px;
    border-bottom: 1px dotted lightgrey;
}
.post_head .post_title{
    text-align: center;
    color: #058dbf;
}
.post_content{
    padding:20px;
    min-height:490px;
    letter-spacing: 1px;

}
.post_content img{
    width: 100%;
    margin: 20px 0;
}

@media screen and (max-width:767px){
    .post_content{margin-left: 20px}
    .details_content ul li a{
        line-height: 30px;
    }
}

